:root {
	--dark-bluegrey: #2c3e50;
	--light-bluegrey:  #34495e;
	--white:  #ecf0f1;

	margin: 0px;
	border-width: 0px;
	padding: 0px;
}

body {
	margin: 0px;

    font-size: larger;
    font-weight: 600;

	background-color: var(--dark-bluegrey);
	
	font-family: 'Space Mono', monospace;
	color: var(--white);
}