:root {
	--dark-bluegrey: #0f1720;
	--light-bluegrey:  #34495e;
	--white:  #ecf0f1;

	margin: 0px;
	border-width: 0px;
	padding: 0px;
}

body {
	margin: 0px;

    font-size: larger;
    font-weight: 400;

	background-color: var(--dark-bluegrey);
	
	font-family: 'Space Mono', monospace;
	color: var(--white);
}

main {
	margin: auto;
	height: 80vh;
	width: 40vh;
	background-color: var(--light-bluegrey);
}

nav {
	display: table;
	width: 100%;
	table-layout: fixed;
}

nav span {
	display: table-cell;
	text-align: center;
}

button {
	background-color: var(--dark-bluegrey);
	border: none;
	color: var(--white);
	font-family: 'Space Mono', monospace;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}